# ─── Vertrauliche Daten und Dokumente ───────────────────────────────────────
data/raw/
Recruiting_Aufgabe_Data_Analyst_08_25.pdf
*.pptx

# ─── Python ─────────────────────────────────────────────────────────────────
__pycache__/

# ─── OS / IDEs ───────────────────────────────────────────────────────────────────
.vscode/
.DS_Store


# ─── Output files ───────────────────────────────────────────────────────────────
output/
